<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ code_error }} {{ text_error }}</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.png">
</head>
<body>
  <div class="wrapper">
    <div class="error__content">
      <h1 class="error">{{ code_error }}</h1>
      <h2>OOOOppss!!!! {{ text_error }}</h2>
    </div>
    <div class="error__action">
        <a href="/" class="button">Return to main page</a>
    </div>
  </div>
</body>
</html>