<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple WSGI Skeleton</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.png">
</head>
<body>
  <div class="wrapper">
    <div class="about">
      <div class="about__text">
        <h1>Simple WSGI Skeleton</h1>
        <span class="about__text_description">This simple skeleton uWSGI compatible web application.</span>
      </div>
      <div class="about__action">
        <a href="https://github.com/mitrofun/simpleWSGI" class="button">Get Started</a>
      </div>
    </div>
  </div>
</body>
</html>