<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1100">
  <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <section class="main">
          <h1>{{ page_header }}</h1>
          <div class="main__text">
            {{ text }}
          </div>
      </section>
    </div>
  </div>
  <footer class="footer">
    <div class="footer__text">{{ footer }}</div>
  </footer>
</body>
</html>